// Body
$body-bg: #FFFFFF;
$body-color: #77838f;

$breadcrumb-bg: transparent;
// Shadow


// Typography
$font-family-sans-serif: 'Open Sans', sans-serif;
$headings-font-family:  'Poppins Light', sans-serif;
$font-family-base: 'Open Sans', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;
$lead-font-weight:  400;

// Colors
$blue: #377dff;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$dark: #212529;

$headings-color: #333333;
$pagination-color: $body-color;
$pagination-hover-color:  $dark;


// BUTTON
$btn-font-weight: 500;
$input-btn-padding-y: 0.75rem;
$input-btn-padding-x: 1rem;

$input-btn-padding-y-sm: 0.625rem;
$input-btn-padding-x-sm: 1.125rem;
$input-btn-font-size-sm: 0.875rem;
$input-btn-line-height-sm:   1.5;


// NAV PILLS
//$nav-pills-border-radius:           $border-radius !default;
$nav-pills-link-active-color:       #FFFFFF;
$nav-pills-link-active-bg:          #FFFFFF;
