// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

@import '_variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import 'ckeditor';
@import 'flatpickr';

input.datepicker {
    background: white !important;
}

#app {
    position: relative;
    min-height: 100vh;
}

footer {
    clear: both;
    position: relative;
    width: 100%;
}

body {
    font-family: $font-family-base;
}

h1, h2, h3, h4 {
    font-family: $headings-font-family;
}

.main-header {
    -webkit-transition: ease all 0.4s;
    transition: ease all 0.4s;
}
  
.main-header.scrolled {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
}

#cover .breadcrumb a {
    color: white;
}

#cover .breadcrumb .active {
    color: white;
}

.modal { overflow: auto !important; }