.divider {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 0;
}

.divider:after {
    content: "";
    display: inline-block;
    vertical-align: top;
    border-top: 3px solid #007bff;
}

.divider.short:after {
    width: 100px;
    max-width: 100%;
}

.overlay-dark {
    position: relative;
}

.overlay-dark:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.1);
}

.overlay-darken:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.4);
}